body {
	font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
	color: #444;
}

h1 {font-size:15pt;text-shadow:1px 1px 1px grey}
h2 {font-size:14pt}
h4 {font-size:12pt}
p {font-size:80%}
ul {font-size:80%}
pre {font-size:80%}
pre{ font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;}

fieldset {font-size:80%}

/* menu text setting */
ul.menu
{
	font-size:13pt;
	line-height:1.6;
	/* padding for FFox etc, but doesn't work with IE */
	padding-left:0pt;
	margin-left:5pt;
}

/* disabled menu item */
span.disabled
{
	color:grey;
	/*text-decoration: underline;*/
}

/* this is needed for IE to remove the bullet */
ul.menu li {list-style-type:none;}



code {
	color: blue;
}

table {
	empty-cells:show; 

/*
	border-color: white;
	bordercolor=white;
	border=1;
	cellspacing=0;
	cellpadding=0;
*/
}

table th {
	background-color: #C0C0C0;
	font-size:8pt;
	color: black;
/*
	border-color: white;
	border-style: solid; 
*/
}

th.gsd {
	background-color: #C090C0;
}

/*
th span.gsd {
	background-color: #C090C0;
}
*/

table tr {

}

table td {
	font-size: 8pt;
/*	color: black; */
}

table.taxa {
	border-color: white; 
	/*empty-cells:hide;*/
}

table.taxa th {

	border-style: solid; 
	border-color: white;
}

table.taxa td {
	font-size: 8pt;
/*	color: black;  */

	/* FireFox need this to remove top and left border */
	border-style: solid; 

	border-color: white;

/*
	border-color: white;
	border: none;
*/
/*	border-style: none; */
/*	border-width: 1 0; */
/*	border: transparent; */ /* same as white color */
/*	border-collapse: collapse; */ /* no effect */
/*	margin: 10%; */ /* no effect */
/*	padding: 10; */
	border: border;
}

table.taxa tr {
/*	padding: 10; */ /* no effect */
/*	margin: 10%; */ /* no effect */
/*	border-style: solid; */ /* no effect */
}


/*
table.taxa tr.line {
	background-color: gray;
}
*/

table.taxa td.line {
	background-color: gray; 
}


caption {font-size:70%}

/* when mouse point over a link */
a:hover {
	text-decoration: underline;
	color: red;
}

/* when link is high lighted by pressing tab key */
a:focus {
	text-decoration: underline;
	color: red;
}

a {
	text-decoration: underline;
	color: purple;
}

p.padding {
	padding-right:50px;
}

span.inactive {color:grey;font-size:12}
span.active {color:green;font-size:12}

/* white background */
.even-row {
	background: #FEFEFE;
	font-size: 8pt;
}
/* pale green background */
.odd-row {
	background: #E6FFFF;
	font-size: 8pt;
}

/* white background */
.even-row-gsd {
	background: #FEFEFE;
	font-size: 8pt;
}
/* pale pink background */
.odd-row-gsd {
	background: #FFE6FF;
	font-size: 8pt;
}

.even-input {
	background-color: white;
}
.odd-input {
	background-color: #E6FFFF;
}

/*
legend {
	text-align: center;
}

fieldset {
	 {* text-align: center; *}
}
*/
